@import '/src/styles/variables';
@import './src/styles/extends';
@import '/src/styles/mixins';

.docs {
  padding: 48px 0;

  &__wrapper {
    max-width: 95%;
    margin: 0 auto;

    @extend %wrapper-border;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 32px;
  }

  &__heading {
    @include typography(600, 24px, 27px);
    padding: 16px 0;
  }

  &__data {
    position: relative;
    display: flex;
  }

  &__list {
    padding: 16px;
    min-width: 30%;

    @include useTheme('color', 'docs-color');

    @media only screen and (max-width: 700px) {
      position: absolute;
      left: -1000px;
      top: 0;
      bottom: 0;

      @include useTheme('background-color', 'docs-aside');
      @include useTheme('color', 'docs-color-aside');

      transition: left 0.5s;
      border: {
        top-right-radius: 20px;
        bottom-right-radius: 20px;
      }
    }

    &--is-open {
      left: 0;
      transition: left 0.5s;
    }
  }

  &__item {
    @include typography(400, 12px, 18px);
    margin: 12px 0;
    text-transform: uppercase;

    &--first {
      margin-top: 0;
    }
  }

  &__sub-item {
    @include typography(400, 16px, 20px);
  }

  &__link {
    display: block;

    padding: 8px 12px;
    transition: all 0.5s;

    &:hover {
      @include useTheme('background-color', 'docs-links');
      color: $white;
      transition: all 0.5s;
    }
  }

  &__content {
    padding: 12px;
  }

  &__background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #00000055;
  }
}
