@import '/src/styles/mixins';

.docs {
  position: relative;
  padding: 48px 0;
  color: #fff;

  &__wrapper {
    max-width: 95%;
    margin: 0 auto;

    box-shadow: 5px 5px 30px #0f001d74,
    inset 0 0 30px rgba(255, 255, 255, 0.15);
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 32px;
  }

  &__heading {
    @include typography(600, 24px, 27px);
    padding: 16px 0;
  }

  &__data {
    display: flex;
  }

  &__list {
    padding: 16px;
    min-width: 30%;

    @media only screen and (max-width: 594px) {
      position: absolute;
      background-color: #307ff4;
      left: -1000px;
      top: 48px;
      bottom: 48px;
      transition: left 0.5s;
      border: {
        top-right-radius: 20px;
        bottom-right-radius: 20px;
      }
    }

    &--is-open {
      left: 8px;
      transition: left 0.5s;
    }
  }

  &__item {
    @include typography(400, 12px, 18px);
    margin: 12px 0;
    text-transform: uppercase;

    &--first {
      margin-top: 0;
    }
  }

  &__sub-item {
    @include typography(400, 16px, 20px);
    padding: 8px 12px;
    cursor: pointer;

    &--is-focus {
      background-color: #307ff4;
    }
  }

  &__content {
    padding: 12px;
  }

  &__background {
    position: absolute;
    top: 48px;
    right: 8px;
    bottom: 48px;
    left: 8px;
    background-color: #00000055;
  }
}