@import './src/styles/variables';
@import './src/styles/extends';
@import './src/styles/mixins';

.all-ovens {
  padding: 0 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  &__container {
    max-width: 550px;
    width: 100%;
    padding: 50px 75px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    @extend %wrapper-border;

    @media only screen and (max-width: 700px) {
      padding: 30px;
      max-width: 450px;
    }
  }

  &__input {
    border: 2px solid transparent;
    padding: 7px 11px;
    outline: none;
    text-align: center;

    &:focus {
      border: 2px solid;
      @include useTheme('border-color', 'input-border');
    }

    @media only screen and (max-width: 700px) {
      font-size: 12px;
    }
  }
}
