@import '/src/styles/mixins';
@import './src/styles/extends';
@import '/src/styles/variables';

.oven {
  max-width: 530px;
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  @extend %wrapper-border;

  @include useTheme('background', 'oven-background');

  @media only screen and (max-width: 980px) {
    max-width: 465px;
  }

  @media only screen and (max-width: 700px) {
    max-width: 310px;
  }

  &__flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: 700px) {
      flex-direction: column-reverse;
    }
  }

  &__info {
    display: flex;
    max-width: 270px;
    flex-direction: column;
    gap: 20px;

    @media only screen and (max-width: 700px) {
      max-width: initial;
    }
  }

  &__title {
    font-size: 18px;
    font-weight: 800;
    word-wrap: break-word;

    @media only screen and (max-width: 980px) {
      font-size: 16px;
    }

    @media only screen and (max-width: 700px) {
      text-align: center;
    }
  }

  &__metrics {
    display: flex;
    justify-content: space-between;
    row-gap: 20px;
    flex-wrap: wrap;
    align-items: center;
  }

  &__progress {
    position: relative;
    width: 140px;
    height: 140px;

    @media only screen and (max-width: 700px) {
      width: 120px;
      height: 120px;
      margin-bottom: 20px;
    }

    &Hover:hover .oven__liquidate {
      display: inline;
    }
  }

  &__liquidate {
    @extend .oven__progress;
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 100%;
    background-color: $red;
    color: $white;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    border: none;
  }
}
