$blue: #307ff4;

.oven {
  max-width: 500px;
  width: 100%;
  padding: 30px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  box-shadow: 5px 5px 30px #0f001db4,
    inset 0px 0px 30px rgba(255, 255, 255, 0.15);
  background: linear-gradient(135deg, #974af9, #14104b);
  border-radius: 40px;

  &__flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }

  &__info {
    display: flex;
    max-width: 270px;
    flex-direction: column;
    gap: 20px;
  }

  &__title {
    &--s {
      &--s {
        font-size: 14px;
        font-weight: 600;
      }
      &--m {
        font-size: 16px;
      }

      &--l {
        font-size: 18px;
        margin-bottom: 20px;
        font-weight: 800;
      }
    }
  }
  &__value {
    color: $blue;
    font-weight: 800;
    &--s {
      &--s {
        word-wrap: break-word;
        font-size: 14px;
      }
      &--l {
        font-size: 20px;
      }
    }
  }

  &__metrics {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 30px;
  }

  &__metric {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 180px;
    width: 100%;
  }

  &__progress {
    width: 160px;
    padding: 20px;
  }
}
