@import '/src/styles/mixins';
@import '/src/styles/variables';

.oven {
  max-width: 530px;
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  box-shadow: 5px 5px 30px #0f001d74,
    inset 0px 0px 30px rgba(255, 255, 255, 0.15);
  @include useTheme('background', 'oven-background');
  border-radius: 40px;

  @media only screen and (max-width: 980px) {
    max-width: 465px;
  }

  @media only screen and (max-width: 700px) {
    max-width: 320px;
  }

  &__flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: 700px) {
      flex-direction: column-reverse;
    }
  }

  &__info {
    display: flex;
    max-width: 270px;
    flex-direction: column;
    gap: 20px;

    @media only screen and (max-width: 700px) {
      max-width: initial;
    }
  }

  &__title {
    font-size: 18px;
    font-weight: 800;
    word-wrap: break-word;

    @media only screen and (max-width: 980px) {
      font-size: 16px;
    }

    @media only screen and (max-width: 700px) {
      text-align: center;
    }
  }

  &__metrics {
    display: flex;
    justify-content: space-between;
    row-gap: 20px;
    flex-wrap: wrap;
    align-items: center;
  }

  &__progress {
    width: 160px;
    padding: 20px;

    @media only screen and (max-width: 700px) {
      padding: 5px;
      width: 120px;
    }
  }
}
