@import './src/styles/variables';
@import './src/styles/mixins';

.button {
  padding: 10px 20px;
  border: none;
  transition: all 0.5s;
  cursor: pointer;
  color: $white;
  @include useTheme('background-color', 'button-background');
  @include typography(400, 16px, 19.5px);

  @media only screen and (max-width: 980px) {
    font-size: 12px;
  }

  @media only screen and (max-width: 700px) {
    font-size: 10px;
    padding: 5px 10px;
  }

  &:hover {
    transform: scale(1.1);
  }

  &:disabled {
    transform: none;
    transition: none;
    cursor: initial;
  }

  &--big {
    padding: 20px 50px;

    @include typography(400, 24px, 29px);
  }

  &--transparent {
    @include useTheme('background-color', 'button-transparent');
    @include useTheme('border-color', 'button-background');
    @include useTheme('color', 'button-color');
    border: 1px solid;
    transition: all 0.5s;

    &:hover {
      @include useTheme('background-color', 'button-background');
      color: $white;
    }

    &:disabled {
      @include useTheme('background-color', 'button-transparent');
      @include useTheme('color', 'button-color');
    }
  }

  &--rounded {
    border-radius: 10px;
  }
}
