@import './src/styles/variables';
@import './src/styles/mixins';

.button {
  padding: 10px 20px;
  border: none;

  background-color: $button-blue;
  color: #fff;
  transition: all 0.5s;
  cursor: pointer;

  @include typography(400, 16px, 19.5px);

  @media only screen and (max-width: 829px) {
    font-size: 12px;
  }

  //@media only screen and (max-width: 734px) {
  //  font-size: 12px;
  //}

  &:hover {
    transform: scale(1.1);
    transition: all 0.5s;
  }

  &--big {
    width: 265px;
    height: 80px;

    @include typography(400, 24px, 29px);
  }

  &--transparent {
    background-color: transparent;
    border: 1px solid $text-blue;
    transition: all 0.5s;

    &:hover {
      background-color: $text-blue;
      transition: all 0.5s;
    }
  }

  &--rounded {
    border-radius: 10px;
  }
}
