@import "./src/styles/variables";

.button {
  width: 150px;
  height: 45px;
  border: none;

  background-color: $button-blue;
  color: #fff;
  transition: all .5s;
  cursor: pointer;


  &:hover {
    transform: scale(1.1);
    transition: all .5s;
  }

  &--big {
    padding: 25px 40px;
  }
}