@import '../../../styles/variables';
@import '../../../styles/mixins';

.modal {
  max-width: 720px;
  width: 100%;
  padding: 30px 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 5px 5px 30px #0f001db4,
    inset 0px 0px 30px rgba(255, 255, 255, 0.15);
  @include useTheme('background', 'modal-background');
  border-radius: 40px;

  &__nav {
    width: 100%;
    display: flex;
    justify-content: center;
    @include useTheme('color', 'modal-nav');
  }

  &__section {
    width: 100%;
    border: 1px solid;
    @include useTheme('border-color', 'modal-nav');
    padding: 9px;
    text-align: center;
    font-weight: 600;
    cursor: pointer;

    &:first-of-type {
      border-radius: 10px 0 0 10px;
    }

    &:last-of-type {
      border-radius: 0 10px 10px 0;
    }

    &--active {
      @include useTheme('color', 'modal-nav-active');
      @include useTheme('background-color', 'modal-nav');
    }
  }

  &__amount {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 24px;
    font-weight: 800;
  }

  &__input {
    background-color: transparent;
    outline: none;
    border: none;
    @include useTheme('color', 'modal-input');
    text-align: center;
    min-width: 30px;
  }

  &__unit {
    right: 10px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
  }

  &__progress {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 40%;
  }
}
