@import '../../styles/variables';
@import '../../styles/mixins';

$burger-item-pos: -6px;

%burger-item {
  left: 0;
  position: absolute;
  content: '';
  display: block;
  width: 22px;
  height: 3px;
  @include useTheme('background-color', 'burger');
  transition: all 0.2s;
}

.burger {
  display: block;
  position: relative;
  width: 22px;
  height: 3px;
  @include useTheme('background-color', 'burger');
  border: none;

  &:before {
    top: $burger-item-pos;
    @extend %burger-item;
  }

  &:after {
    bottom: $burger-item-pos;
    @extend %burger-item;
  }

  &--clicked {
    @include useTheme('background-color', 'burger-main');

    &:before {
      transform: rotate(-45deg) translate(-5px, 5px);
    }

    &:after {
      transform: rotate(45deg) translate(-3px, -4px);
    }
  }
}
