@import '../../styles/variables';
@import '../../styles/mixins';

$burger-item-pos: -6px;

%cursor-pointer {
  cursor: pointer;
}

%burger-item-size {
  width: 22px;
  height: 3px;
}

%burger-item {
  left: 0;
  position: absolute;
  content: '';
  display: block;
  @extend %burger-item-size;
  @include useTheme('background-color', 'burger');
  transition: all 0.2s;
}

.burger {
  display: block;
  position: relative;
  @extend %burger-item-size;

  // safari padding remove
  padding: 0;
  border: none;
  @extend %cursor-pointer;
  @include useTheme('background-color', 'burger');

  &:before {
    top: $burger-item-pos;
    @extend %burger-item;
  }

  &:after {
    bottom: $burger-item-pos;
    @extend %burger-item;
  }

  &--clicked {
    @include useTheme('background-color', 'burger-main');

    &:before {
      transform: rotate(-45deg) translate(-5px, 5px);
    }

    &:after {
      transform: rotate(45deg) translate(-3px, -4px);
    }
  }
}

.wrapper {
  padding: 10px 5px;
  @extend %cursor-pointer;
}
