@import '../../styles/variables';
@import '../../styles/mixins';

.i18n {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  @include useTheme('color', 'i18n-color');
}
