@import '../../../styles/variables';

.peg {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  &__progress {
    width: 100%;
    height: 20px;
    border: 1px solid $text-blue;
    border-radius: 10px;
    display: flex;
  }

  &__separator {
    height: 100%;
    width: 10%;
    border: 1px solid $text-blue;
  }

  &__sep {
    width: 5%;
    height: 100%;
    border: 1px solid $text-blue;
    &:first-of-type {
      border-radius: 10px 0 0 10px;
    }
    &:last-of-type {
      border-radius: 0 10px 10px 0;
    }
  }

  &__percents {
    align-self: flex-end;
  }
}
