* {
  margin: 0;
  padding: 0;
}

#root {
  font-family: Montserrat, sans-serif;
}

.sticky-footer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

footer {
  flex-shrink: 0;
}

body {
  background-color: #0f001d;
  background-image: url('../images/lines-left.svg'),
    url('../images/lines-right.svg'), url('../images/background.svg');
  background-position: top left, bottom right, center;
  background-repeat: no-repeat;
  background-size: 50%, 50%, cover;
}
