#root {
  font-family: Montserrat, sans-serif;
}

.wrapper {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  padding: 0px;

  @media only screen and (max-width: 1240px) {
    padding: 0 5px;
  }
}

.sticky-footer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.theme {
  background-position: top left, bottom right;
  background-repeat: no-repeat;

  &-light {
    background-color: $white;
    color: $text-dark;
    background-image: url('../images/lines-left.svg'),
      url('../images/lines-right.svg'),
      radial-gradient(circle at 10% 10%, #8c82f25d 0%, #ffffff2e 20%),
      radial-gradient(circle at 90% 90%, #8c82f25d 0%, #ffffff2e 20%);
  }

  &-dark {
    background-color: #0f001d;
    color: $white;
    background-image: url('../images/lines-left.svg'),
      url('../images/lines-right.svg'),
      radial-gradient(circle at 15% 15%, #4518c6 0%, rgba(0, 0, 0, 0.2) 30%),
      radial-gradient(circle at 85% 85%, #974af9 0%, rgba(0, 0, 0, 0.2) 30%);
  }
}

main {
  flex-grow: 1;
}

footer {
  flex-shrink: 0;
}

.CircularProgressbar-trail {
  stroke: white;
}
.CircularProgressbar-text {
  fill: white;
  dominant-baseline: middle;
  text-anchor: middle;
}

[data-title] {
  position: relative;

  &:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.3s;
    display: block;
  }

  &:after {
    content: attr(data-title);
    background-color: $white;
    font-size: 12px;
    position: absolute;
    padding: 2px 5px;
    bottom: -1.6em;
    left: 100%;
    white-space: nowrap;
    box-shadow: 1px 1px 3px #222222;
    border-radius: 10px;
    z-index: 99999;
    display: none;
  }
}
