#root {
  font-family: Montserrat, sans-serif;
}

.sticky-footer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

footer {
  flex-shrink: 0;
}

body {
  background-color: #0f001d;
  background-image: url('../images/lines-left.svg'),
    url('../images/lines-right.svg'),
    radial-gradient(
      circle at 15% 15%,
      rgba(69, 24, 198, 1) 0%,
      rgba(0, 0, 0, 0.2) 30%
    ),
    radial-gradient(
      circle at 85% 85%,
      rgba(151, 74, 249, 1) 0%,
      rgba(0, 0, 0, 0.2) 30%
    );
  background-position: top left, bottom right;
  background-repeat: no-repeat;
}

.CircularProgressbar-path {
  stroke: #307ff4;
}
.CircularProgressbar-trail {
  stroke: white;
}
.CircularProgressbar-text {
  fill: white;
  dominant-baseline: middle;
  text-anchor: middle;
}
