$blue: #307ff4;
$alt-blue: #579bff;
$text-dark: #313131;
$border-hover: #382267;
$border-shadow: #33167b;
$red: #ff5050;
$purple: #8c82f2;
$white: #fff;

$themes: (
  light: (
    burger: $purple,
    burger-main: transparent,
    button-transparent: transparent,
    button-background: $purple,
    button-color: $purple,
    docs-aside: $purple,
    docs-code: $purple,
    docs-link: $purple,
    docs-color: $purple,
    docs-button: $purple,
    docs-links: $purple,
    nav-color: $purple,
    docs-color-aside: $white,
    i18n-color: $purple,
    i18n-aside: $white,
    metric-color: $purple,
    oven-background: linear-gradient(135deg, $white, #8c82f25d),
    modal-background: linear-gradient(135deg, $white, #d9d5ff),
    modal-nav: $purple,
    modal-nav-active: $white,
    modal-input: $text-dark,
    logo: $text-dark,
    logo-small: $purple,
    wallet: #ffffffe3,
    wallet-border: $purple,
    input-border: $purple,
  ),
  dark: (
    burger: $white,
    burger-main: transparent,
    button-transparent: transparent,
    button-background: $blue,
    button-color: $white,
    docs-aside: $blue,
    docs-code: $blue,
    docs-link: $blue,
    docs-color: $white,
    docs-color-aside: $white,
    docs-button: $blue,
    docs-links: $blue,
    nav-color: $white,
    i18n-color: $white,
    i18n-aside: $white,
    metric-color: $blue,
    oven-background: linear-gradient(135deg, #974af9, #14104b),
    modal-background: linear-gradient(135deg, #974af9, #14104b),
    modal-nav: $white,
    modal-nav-active: $blue,
    modal-input: $white,
    logo: $white,
    logo-small: $white,
    wallet: #0f001db4,
    wallet-border: $blue,
    input-border: $blue,
  ),
);
