@import '../../../styles/variables';
@import '../../../styles/mixins';

.oracle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  &__title {
    font-size: 24px;
  }

  &__price {
    @include useTheme('color', 'metric-color');
    font-weight: 800;
  }

  &__updated {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &__button {
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    padding: 0;
  }

  &__bell {
    height: 30px;
    width: auto;

    * {
      @include useTheme('stroke', 'logo');
    }

    &--filled {
      @include useTheme('fill', 'metric-color');
    }
  }

  &__time {
    font-weight: 600;

    &--s {
      &--error {
        color: $red;
      }

      &--ok {
        @include useTheme('color', 'metric-color');
      }
    }
  }
}
