@import '../../styles/variables';
@import './src/styles/extends';
@import '../../styles/mixins';

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;

  &__head {
    display: flex;
    align-items: flex-end;
    gap: 20px;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__subtitle {
    line-height: 1;
    font-size: 48px;
    letter-spacing: 0.065em;
    margin-bottom: 20px;

    @media only screen and (max-width: 980px) {
      font-size: 41px;
    }
  }

  &__title {
    line-height: 1;
    font-size: 70px;
    font-weight: 800;
    letter-spacing: 0.09em;

    @media only screen and (max-width: 980px) {
      font-size: 60px;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
  }

  &__container {
    max-width: 770px;
    width: 100%;
    padding: 50px 75px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    @extend %wrapper-border;

    @media only screen and (max-width: 980px) {
      padding: 30px 55px;
    }
  }

  &__metrics {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: 700px) {
      flex-direction: column;
    }
  }

  &__line {
    position: relative;
    width: 100%;
    height: 2px;
    @include useTheme('background-color', 'button-background');
  }

  &__more {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 20px;
    outline: none;
    color: white;
    padding: 5px 20px;
    @include useTheme('background-color', 'button-background');
    font-size: 18px;

    @media only screen and (max-width: 980px) {
      font-size: 16px;
    }
  }

  &__connect {
    font-size: 36px;
    font-weight: 800;
    text-align: center;
  }
}
