.logo {
  display: inline-block;
  width: 115px;
  height: 55px;

  &--sub-logo {
    width: 126px;
    height: 85px;

  }

  @media only screen and (max-width: 829px) {
    width: 65px;
    height: 35px;
  }
}

.logo__link {
  display: flex;
  align-items: flex-end;
}