@import '../../styles/variables';
@import '../../styles/mixins';

%logo-basic {
  width: 55px;
}

.logo {
  @extend %logo-basic;
  height: 55px;

  &--sub-logo {
    @extend %logo-basic;
    height: 80px;
  }

  @media only screen and (max-width: 829px) {
    width: 65px;
    height: 35px;
  }

  & g {
    @include useTheme('fill', 'logo-small');
  }
}

.logo-big {
  height: 232px;
  width: auto;

  & g {
    @include useTheme('fill', 'logo');
  }
}



.logo__link {
  display: flex;
  align-items: center;
  justify-content: center;

  @include useTheme('color', 'logo-small');
}