.logo {
  display: inline-block;
  width: 28px;
  height: 28px;
  &__text {
    font-size: 28px;
  }
}

.wrapper {
  display: flex;
  align-items: center;

  text-decoration: none;
  color: #486581;

  &:visited {
    color: #486581;
  }
}