@import '../../../styles/variables';
@import '../../../styles/mixins';

.metric {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  &--pos {
    &--left {
      align-items: flex-start;

      @media only screen and (max-width: 700px) {
        align-items: center;
      }
    }
    &--center {
      align-items: center;
      max-width: 50%;

      @media only screen and (max-width: 700px) {
        max-width: 100%;
      }
    }
  }

  &__title {
    text-transform: uppercase;
    &--s {
      &--s {
        font-size: 14px;
        font-weight: 600;

        @media only screen and (max-width: 980px) {
          font-size: 12px;
        }
      }
      &--m {
        font-size: 16px;

        @media only screen and (max-width: 980px) {
          font-size: 14px;
        }
      }
      &--l {
        font-size: 16px;

        @media only screen and (max-width: 980px) {
          font-size: 14px;
        }
      }
    }
  }

  &__value {
    font-weight: 800;
    max-width: 100%;

    &--s {
      &--s {
        word-wrap: break-word;
        font-size: 14px;
        @include useTheme('color', 'metric-color');

        @media only screen and (max-width: 980px) {
          font-size: 12px;
        }
      }
      &--m {
        font-size: 20px;
        @include useTheme('color', 'metric-color');

        @media only screen and (max-width: 980px) {
          font-size: 16px;
        }
      }
      &--l {
        font-size: 48px;
        font-weight: 800;

        @media only screen and (max-width: 980px) {
          font-size: 34px;
        }
      }
    }
  }
}
