@import '../../../styles/variables';
@import '../../../styles/mixins';

.metric {
  display: flex;
  flex-direction: column;
  width: 100%;

  &--pos {
    &--left {
      align-items: flex-start;
    }
    &--center {
      align-items: center;
      max-width: 200px;
    }
  }

  &__title {
    text-transform: uppercase;
    &--s {
      &--s {
        font-size: 14px;
        font-weight: 600;

        @media only screen and (max-width: 589px) {
          @include typography(800, 12px);
        }
      }
      &--m {
        font-size: 16px;

        @media only screen and (max-width: 589px) {
          @include typography(800, 12px);
        }
      }
      &--l {
        font-size: 16px;

        @media only screen and (max-width: 589px) {
          @include typography(800, 10px);
        }
      }
    }
  }

  &__value {
    color: $text-blue;
    font-weight: 800;
    max-width: 100%;

    @media only screen and (max-width: 589px) {
      max-width: 110px;
    }

    &--s {
      &--s {
        word-wrap: break-word;
        font-size: 14px;

        @media only screen and (max-width: 589px) {
          @include typography(800, 12px);
        }
      }
      &--m {
        font-size: 20px;
        @media only screen and (max-width: 589px) {
          @include typography(800, 13px);
        }
      }
      &--l {
        font-size: 48px;
        font-weight: 800;
        color: white;

        @media only screen and (max-width: 589px) {
          @include typography(800, 24px);
        }
      }
    }
  }
}
