@import '/src/styles/variables';
@import '/src/styles/mixins';

$border-radius: 20px;

.navigation {
  a {
    @include useTheme('color', 'nav-color');
  }

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  &__item {
    @include typography(400, 24px, 29px);

    display: flex;
    transition: all 0.5s;
    border-radius: 10px;
    cursor: pointer;

    padding: 0 5px;

    &:hover {
      box-shadow: 0 0 1px 1px #33167b;
      transition: all 0.5s;
    }

    @media only screen and (max-width: 829px) {
      font-size: 12px;
    }
    @media only screen and (max-width: 594px) {
      font-size: 12px;
    }
  }

  &__sub-item {
    color: $white;

    & path {
      fill: $white;
    }
    & circle {
      stroke: $white;
    }
  }
}

//asideNAV

.aside-nav {
  @include typography(400, 14px, 17px);
  padding: 40px 30px;
  @include useTheme('background-color', 'docs-aside');
  color: $white;
  height: 100%;
  border: {
    top-right-radius: $border-radius;
    bottom-right-radius: $border-radius;
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item {
    display: flex;
    align-items: flex-end;
    margin-bottom: 24px;
  }
}
