.navigation {
  width: 70%;

  &__list {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;

    list-style: none;
  }

  &__item {
    display: flex;
    align-items: center;
    height: 64px;
    padding: {
      left: 12px;
      right: 12px;
    };
  }

  &__link {
    text-decoration: none;
  }
}