@import './src/styles/mixins';

.navigation {
  &__list {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__item {
    @include typography(400, 24px, 29px);

    display: flex;
    align-items: center;
    border: 1px solid transparent;
    transition: all 0.5s;
    border-radius: 10px;

    padding: {
      left: 12px;
      right: 12px;
    }

    &:hover {
      border: 1px solid #382267;
      box-shadow: 0 0 1px 1px #33167b;
      transition: all 0.5s;
    }
  }
}
