@import '/src/styles/variables';
@import '/src/styles/mixins';

$currency-radius: 10px;

.user-data {
  position: sticky;
  z-index: 10;
  top: 20px;
  @include useTheme('background-color', 'wallet');
  padding: 20px;
  border-radius: 40px;
  box-shadow: 5px 5px 30px #0f001d74, inset 0 0 30px rgba(255, 255, 255, 0.15);

  @media only screen and (max-width: 700px) {
    padding: 10px;
    border-radius: 0;
  }

  &__eye {
    height: 30px;
    cursor: pointer;
    @include useTheme('fill', 'logo');
  }

  &__button {
    position: absolute;
    right: -5px;
    top: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 40px;
    cursor: pointer;
    @include useTheme('background-color', 'wallet');

    &:before {
      content: '\d7';
      @include useTheme('color', 'logo');
      font-size: 30px;
    }
  }

  &__address {
    @include useTheme('color', 'metric-color');
    @include typography(800, 18px, 22px);

    @media only screen and (max-width: 980px) {
      font-size: 15px;
    }
  }

  &__network {
    display: flex;
    gap: 2px;
    @include typography(400, 15px, 15px);

    @media only screen and (max-width: 980px) {
      font-size: 12px;
    }

    :last-child {
      @include typography(800, 15px, 15px);
      @media only screen and (max-width: 980px) {
        font-size: 12px;
      }
    }

    @media only screen and (max-width: 700px) {
      @include useTheme('color', 'user-data-aside');
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }

  &__currency {
    border: 1px solid {
      right: none;
      bottom-left-radius: $currency-radius;
      top-left-radius: $currency-radius;
    }

    @include useTheme('border-color', 'wallet-border');

    padding: 5px 5px 5px 10px;

    @media only screen and (max-width: 980px) {
      font-size: 12px;
    }

    @media only screen and (max-width: 700px) {
      @include useTheme('color', 'user-data-aside');
    }
  }

  &__amount {
    @include useTheme('background-color', 'wallet-border');
    color: $white;
    display: inline-block;
    padding: 4px 10px;
    border: {
      bottom-right-radius: $currency-radius;
      top-right-radius: $currency-radius;
    }

    @media only screen and (max-width: 980px) {
      font-size: 12px;
    }
  }
}
