.oven-nav {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
  align-items: center;

  &__button {
    max-width: 200px;
    width: 100%;
    text-align: center;
  }
}
