.oven-nav {
  display: flex;
  justify-content: space-between;
  row-gap: 20px;
  flex-wrap: wrap;
  align-items: center;

  &__button {
    max-width: 50%;
    width: 100%;
    text-align: center;
  }
}
