.header {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media only screen and (max-width: 700px) {
    padding: 10px;
  }

  &__sideWrapper {
    max-width: 250px;
    width: 100%;

    &Right {
      display: flex;
      justify-content: flex-end;
    }
  }
}
