.error404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;

  &__head {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__kolibri {
    height: 232px;
  }

  &__subtitle {
    line-height: 1;
    margin-bottom: 30px;
    font-size: 48px;
    letter-spacing: 0.065em;
  }

  &__title {
    line-height: 1;
    font-size: 70px;
    font-weight: 800;
    letter-spacing: 0.09em;
  }
}
