@import './src/styles/variables';
@import './src/styles/mixins';

.policy {
  @include typography(500, 14px, 17px);
  width: 100%;
  max-width: 260px;
  display: flex;
  flex-direction: column;

  &__links {
    @include useTheme('color', 'metric-color');
    width: 100%;
    max-width: 400px;
  }
}
